body {
    background-color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: auto;
    width: 888px;
    background-color: lightyellow;
    border-radius: 35px;
    padding: 35px;
}

.sorkizart>p:first-letter {
    margin-left: 2em;
}

em {
    font-style: italic;
    font-weight: bold;
}

img {
    width: 100%;
    max-height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image {
    max-width: 300px;
    border: 2px solid green;
    border-radius: 15px;
    background-color: navajowhite;
    text-align: center;
}

.image>p {
    margin: 5px 0px;
}

#myimageright {
    margin-left: 20px;
    float: right;
}

#myimageleft {
    margin-right: 40px;
    margin-bottom: 80px;
    float: left;
}

.kepszoveg {
    font-weight: bold;
    font-style: italic;
}

h1,
h2 {
    color: forestgreen;
    text-transform: uppercase;
}

.sorkizart {
    text-align: justify;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}